server:
  port: 8084

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/geoje
    username: postgres
    password: 1004

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        type:
          preferred_enum_type: VARCHAR
    show-sql: true

  thymeleaf:
    cache: false

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB

file:
  upload-dir: C:/upload/

